table{
    border: 1px solid #000;
    padding: 0;
    border-collapse: collapse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


tr:first-child th {
    background: url("../Imgs/fondo_gris.gif");
    padding: 10px;
    font-weight: bold;
}


th:first-child {
    background-color: rgb(220, 239, 249);
    padding: 10px;
}

th:last-child(1) {
    background: url("../Imgs/euro.png");
    padding: 10px;
}


table tr:nth-child(even) td {
    background-color: rgb(255, 240, 192);
}


table tr:nth-child(2) th{
  background: url("../Imgs/euro.png") center/contain no-repeat;
  background-size: 20px;
}
table tr:nth-child(3) th{
  background: url("../Imgs/dolar.png") center/contain no-repeat;
  background-size: 20px;
  padding-left: 1em;
}
table tr:nth-child(4) th{
  background: url("../Imgs/libra.png") center/contain no-repeat;
  background-size: 20px;
  padding-left: 1em;
}
table tr:nth-child(5) th{
  background: url("../Imgs/yen.png") center/contain no-repeat;
  background-size: 20px;
  padding-left: 1em;
}
