body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
}

div{
    box-shadow: 2px 2px 2px black;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 820px;
background-color: rgb(32, 32, 32);
}

.container1:nth-child(1){
    width: 1500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}
.container1:nth-child(2){
    width: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item{
    background-color: white;
}

.item:nth-child(1){
 background-color: rgb(193, 193, 193);
height: 120px;
text-align:right;
color: white;
font-size: larger;
}

.item:nth-child(2){
background-color: rgb(193, 193, 193);
color: rgb(193, 193, 193);
height:10px;
}

.item:nth-child(3){
    color: rgb(232, 2, 209);
  text-align:center;
  height: 50px;
  font-weight: bold;
  font-size: 30px;
height:50px;
}
.item:nth-child(4){
  height: 400px;
}
.item:nth-child(5){
  height: 120px;
}


.container1:nth-child(1) .item:nth-child(1){
border-radius: 70px 0 0 0 ;

}
.container1:nth-child(2) .item:nth-child(3){
color: white;
}
.container1:nth-child(2) .item:nth-child(1){
    height: 100px;
     color: rgb(193, 193, 193);
}

.container1:nth-child(2) .item:nth-child(2){
    height: 10px;
}

.container1:nth-child(2) .item:nth-child(3){
    height: 170px;

}
.container1:nth-child(2) .item:nth-child(4){
    height: 10px;
    background-color: rgb(193, 193, 193);
    color: rgb(193, 193, 193);
}
.container1:nth-child(2) .item:nth-child(5){
    height: 80px;
    color: white;
}
.container1:nth-child(2) .item:nth-child(6){
    height: 10px;
    background-color: rgb(193, 193, 193);
    color: rgb(193, 193, 193);
}
.container1:nth-child(2) .item:nth-child(7){
    height: 50px;
    color: white;
}
.container1:nth-child(2) .item:nth-child(8){
    height: 10px;
    background-color: rgb(193, 193, 193);
    color: rgb(193, 193, 193);
}
.container1:nth-child(2) .item:nth-child(9){
    height: 90px;
    background-color: rgb(193, 193, 193);
    color: rgb(193, 193, 193);
}
.container1:nth-child(2) .item:nth-child(10){
    height: 10px;
    background-color: rgb(193, 193, 193);
    color: rgb(193, 193, 193);
}
.container1:nth-child(2) .item:nth-child(11){
    height: 20px;
    background-color: rgb(193, 193, 193);
    color: rgb(193, 193, 193);
}
