body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    box-shadow: 2px 2px 2px black;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 820px;
background-color: rgb(71, 23, 118);
}

.container1:nth-child(1){
    width: 1500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container1:nth-child(2){
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item{
    background-color: white;
}

.item:nth-child(1){
    background-color: grey;
  height: 100px;
text-align:right;
color: white;
font-size: 50px;
}

.item:nth-child(2){
 text-align:center;
  height: 50px;
  font-weight: bold;
  font-size: 30px;
   box-shadow: 2px 2px 2px black;
}

.item:nth-child(3){
  height:400px;
}
.item:nth-child(4){
  height: 200px;
}

.container1:nth-child(2) .item:nth-child(2){
    height: 200px;
}

.container1:nth-child(2) .item:nth-child(3){
    height: 100px;
}

.container1:nth-child(2) .item:nth-child(4){
    height: 50px;
}
.container1:nth-child(2) .item:nth-child(5){
    height: 100px;
}