body{
    background-color: black;
    position: relative;
}


div{
    position: absolute;
}
.cabeza{
    background-color: rgb(8, 210, 38);
    width: 400px;
    height: 400px;
      position: absolute;
      color:  rgb(34, 255, 0);
}

.ojoIzquierdo{
    background-color: rgb(0, 0, 0);
     width: 80px;
     height: 80px;
      right: 60%;
    bottom: 50%;
    position: absolute;
    color: black;
}

.ojoDerecho{
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    right: 20%;
    bottom: 50%;
    position: absolute;
    color: black;
}

.boca1{
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 100px;
    right: 40%;
    bottom: 25%;
    position: absolute;
    color: black;
}

.boca2{
   background-color: rgb(0, 0, 0);
    width: 150px;
    height: 50px;
    right: 41%;
    bottom: 25%;
    position: absolute;
    color: black;
}

.boca3{
   background-color: rgb(0, 0, 0);
    width: 150px;
    height: 50px;
    right: 20%;
    bottom: 25%;
    position: absolute;
    color: black;
}
.boca4{
   background-color: rgb(0, 0, 0);
    width: 60px;
    height: 50px;
    right: 63.5%;
    bottom: 15%;
    position: absolute;
    color: black;
}

.boca5{
   background-color: rgb(0, 0, 0);
    width: 60px;
    height: 50px;
    right: 20%;
    bottom: 15%;
    position: absolute;
    color: black;
}

.cuerpo{
    background-color: rgb(8, 210, 38);
    color: rgb(8, 210, 38);
    width: 230px;
    height: 200px;
    position: absolute;
    left: 5%;
    top: 405px;
}